body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}
.Email-form
{
    display:flex;
    flex-direction: column;
}
input[type="email"],
input[type="password"] {
    display: block;
    margin-bottom: 10px;
}